/* buttons */

.button-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}
@media screen and (min-width: 480px) {
    .button-group {
        flex-direction: row;
    }
}
.button-group .button {
    width: 100%;
    max-width: unset;
}
@media screen and (min-width: 480px) {
    .button-group .button {
        max-width: fit-content;
    }
}



a, button, .button {
    pointer-events: auto;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a>*, button>*, .button>* {
    pointer-events: none;
    text-decoration: none;
    color: inherit;
}

/* Button */
button,
.button,
input[type="submit"],
.wc-block-cart__submit-button {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    /*  */
    padding: 11px 24px;
    outline: none;
    /* border: none; */
    border: 2px solid rgba(var(--default_rgb),0);
    /* border: 2px solid transparent; */
    /* outline-offset: 2px; */
    border-radius: var(--radius-button);
    color: var(--notwhite);
    /*  */
    max-width: fit-content;
    min-width: unset;
    /*  */
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-button);
    letter-spacing: var(--letter-spacing-button);
    line-height: var(--line-height-button);
    text-transform: var(--text-transform-uppercase);
    text-decoration: none;
    /*  */
    background: var(--default_gradient); 
    background-size: 120% auto;
    background-position: 10% center;
    box-shadow: var(--shadow-transparent);
    transition: var(--transition);
    cursor: pointer;
    white-space: nowrap;
    
    &:hover {
        color: var(--white);
        text-decoration: none;
        border: 2px solid var(--default);
        /* animation: gradient 0.5s ease; */
        box-shadow: var(--shadow-regular);
        background-size: 200% auto;
        background-position: right center;
    }
    &:focus {
        /* outline: 4px solid var(--default);
        outline-offset: 0; */
        text-decoration: none;
    }
    &:active {
        background-color: var(--default_dark);
        color: var(--notwhite);
        text-decoration: none;
    }
}


.button-medium {
    /* padding: 11px 24px; */
    padding: 10px 20px;
    font-size: var(--font-size-regular);
    letter-spacing: var(--letter-spacing-button);
    line-height: 1.325; /* to match field height */
}

.button-small {
    /* padding: 11px 24px; */
    padding: 8px 16px;
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-button);
}



.outline {
    background: var(--white);
    border: 2px solid var(--default);
    color: var(--default);
    &:hover {
        /*  */
        background: var(--default);
        color: var(--notwhite) ;
        box-shadow: var(--shadow-regular);
    }
}

.ghost {
    background: transparent;
    border: 1px solid var(--notblack);
    color: var(--default);
    &:hover {
        background: var(--white);
        border: 1px solid var(--default) !important;
        color: var(--notblack) !important;
        box-shadow: var(--shadow-regular);
    }
}

.primary_gradient-bg button.primary,
.primary_gradient-bg a.primary {
    /* should be default mono */
    background: var(--mono_gradient);
    border: 1px solid rgba(var(--default_rgb),0);
    color: var(--white);
    &:hover {
        background: var(--mono_dark);
        border: 1px solid rgba(var(--default_rgb), 1) !important;
        color: var(--white) !important;
        box-shadow: var(--shadow-regular);
    }
}

/* button.primary,
.button.primary, */
.wc-block-cart__submit-button,
input[type="submit"] {
    /* should be default mono */
    background: var(--primary_gradient);
    border: 1px solid rgba(var(--primary_rgb),0);
    color: var(--white);
    &:hover {
        background: var(--primary_dark);
        border: 1px solid rgba(var(--primary_rgb), 1) !important;
        color: var(--white) !important;
        box-shadow: var(--shadow-regular);
    }
}

.link-only {
    padding: 0.5rem 0.5rem;
    margin-left: -0.5rem;
    background: transparent;
    border: none;
    color: var(--default);
    text-decoration: underline;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-button);
    letter-spacing: var(--letter-spacing-regular);
    line-height: var(--line-height-button);
    text-transform: var(--text-transform-uppercase);
    position: relative;
    &:hover {
        color: var(--black);
        text-decoration: none;
        box-shadow: none;
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--default);
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
}


/*  */

.save-button__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 16px;
    transition: background-color .25s, transform var(--spring-duration) var(--spring-easing) !important;
}


/* tags */



.type-tag {
    --tag-color: #FFFFFF;
    --tag-color-active: #1E3B4A;
    --tag-color-text-active: #FFFFFF;
    --tag-color-text: #254A5D;
    --tag-border-color: #254A5D;
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    /* font-family: p22 Underground, system-ui; */
    font-size: 12px;
    line-height: 1;
    color: var(--tag-color-text);
    text-overflow: ellipsis;
    text-transform: uppercase;
    letter-spacing: .08em;
    white-space: nowrap;
    vertical-align: top;
    transition: background-color .35s ease-in-out, color .35s ease-in-out;
}
@media (min-width: 1040px) {
    .type-tag {
        font-size: 14px;
    }
}
.type-tag:hover {
    color: var(--tag-color-text-active);
}
.type-tag:active:before {
    transform: scale(1);
}
.type-tag:hover:before {
    transform: scale(1.1);
    background-color: var(--tag-color-active);
}
.type-tag:before {
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(1);
    border: 1px solid var(--tag-border-color);
    background-color: var(--tag-color);
    border-radius: 12px;
    transition: all var(--spring-duration) var(--spring-easing);
}

/*  */

.social_link svg path {
    fill: var(--default);
    transition: var(--transition);
}
.social_link:hover svg path {
    fill: rgba(var(--default_rgb), 0.6);
} 

.social_link img {
    opacity: 1;
    transition: var(--transition);
}
.social_link:hover img {
    opacity: 0.6;
} 

/*  */


[class*="program-section"] button.filter {
    position: relative;
    width: unset;
    max-width: unset;
    /* margin-bottom: var(--gap); */
    padding: var(--padding-inner-sm) var(--padding-inner);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-muted);
    background-color: transparent;
    border: 1px solid var(--mono_200);
    border-radius: var(--radius-pill);
    cursor: pointer;
    &:hover {
        color: var(--notblack);
        text-decoration: none;
        box-shadow: none;
        background-color: rgba(var(--primary_rgb), 1);
        border: 1px solid var(--primary);
    }
    &.selected {
        color: var(--white);
        background-color: rgba(var(--primary_rgb), 1);
        border: 1px solid var(--primary);
        box-shadow: var(--shadow-regular);
    }
    &.selected:hover {
        color: var(--notblack);
        background-color: rgba(var(--primary_rgb), 0.0);
        border: 1px solid var(--default_dark);
        box-shadow: var(--shadow-regular);
    }
}


/* ------------------------------------- */
/* CTA arrow */


:root {
    --shift-distance: calc(4 * .0625rem);
    --link-color: #231e15;
    --link-color-hovered: #231e15;
    --copy-regular-size: 1rem;
    --copy-info-size: .8125rem;
}

@keyframes fakebounce {
    0% {
        left: calc(100% - 2rem);
    }
    50% {
        left: -1.5rem;
    }
    75% {
        left: -.5rem;
    }
    88% {
        left: -1.125rem;
    }
    100% {
        left: -1rem;
    }
}

.cta--small.ctaArrow {
    font-weight: 500;
    font-size: var(--copy-info-size);
}
.ctaArrow:hover, .supportLink:hover {
    color: var(--link-color-hovered);
    -webkit-transform: translateX(var(--shift-distance));
    -ms-transform: translateX(var(--shift-distance));
    transform: translateX(var(--shift-distance));
}
a:hover {
    text-decoration: none;
}
.ctaArrow, .supportLink {
    --shift-distance: calc(4 * .0625rem);
    font-weight: 400;
    font-size: var(--copy-regular-size);
    color: var(--link-color);
    z-index: 1;
    border-radius: 2em;
    padding-right: 2.5rem;
    line-height: 2rem;
    text-decoration: none;
    transition: color .15s ease-in-out, transform .3s;
    display: inline-block;
    position: relative;
    transform: translate(0);
}
.ctaArrow:before, .supportLink:before {
    content: "";
    z-index: -1;
    background-color: #ffe01b;
    background-image: url(/assets/svg/ctaArrow.svg);
    background-position: calc(100% - .4375rem) calc(100% - .4375rem);
    background-repeat: no-repeat;
    background-size: 1.125rem;
    border-radius: 1rem;
    height: 2rem;
    transition: left .3s cubic-bezier(.34,1.2,.64,1), right .3s, background-position .3s;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(100% - 2rem);
    right: 0;
}
.ctaArrow:hover:before, .supportLink:hover:before {
    background-position-x: calc(100% - (var(--shift-distance) * 3.5));
    height: 100%;
    transition: right .3s, background-position .3s;
    animation: .3s ease-in-out fakebounce;
    left: -1rem;
}

/* ------------------------------------- */
