/* buttons */

/* Button */
button,
.button {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    outline: none;
    /* border: none; */
    border: 2px solid transparent;
    border-radius: var(--radius-button);
    color: var(--notwhite);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-button);
    letter-spacing: var(--letter-spacing-button);
    line-height: var(--line-height-button);
    text-transform: var(--text-transform-uppercase);
    background: var(--default_gradient); 
    background-size: 120% auto;
    background-position: 5% center;
    box-shadow: var(--shadow-transparent);
    transition: var(--transition);
    cursor: pointer;
    &:hover {
        color: var(--white);
        text-decoration: none;
        border: 2px solid var(--default);
        /* animation: gradient 0.5s ease; */
        box-shadow: var(--shadow-regular);
        background-size: 200% auto;
        background-position: right center;
    }
}

.outline {
    background: transparent;
    border: 2px solid var(--default);
    color: var(--default);
    &:hover {
        /*  */
        background: var(--default);
        color: var(--notwhite);
        box-shadow: var(--shadow-regular);
    }
}


.animated-gradient {
    animation: gradient 0.5s ease ;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
