
/* ----------------------- */
/* CARDS */

/* ----------------------- */
/* template */

.floating-date {
    position: absolute;
    bottom: -1.5rem;
    right: 2rem;
    width: 100%;
    width: 6rem;
    height: 6rem;
    border-radius: var(--radius-small);
    background-color: var(--white);    
    text-align: center;
    z-index: 9999;
    /* box-shadow: var(--shadow-regular); */
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date-number, .date-month {
    color: var(--notblack);
    line-height: 1;
}
.date-number {
    font-size: 2.4rem;
    text-align: center;
    font-weight: var(--font-weight-bold);
}
.date-month {
    text-align: center;
    font-size: 1.4rem;
    /* color: var(--text-color-muted); */
    font-weight: var(--font-weight-light);
}

/* pagination */

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--max-col-width);
    margin: 0 auto;
    padding: var(--padding-inner);

}
.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: var(--max-col-width);
    margin: 0 auto;
}
.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.pagination-link { 
    min-width: 3rem;
    /* height: 2.4rem; */
    border-radius: var(--radius-small);
    background-color: var(--white);
    color: var(--notblack);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    box-shadow: var(--shadow-regular);
    padding: 0.25rem 1rem;
    text-align: center;
}
.pagination-link.previous,
.pagination-link.next {
    width: auto;
    /* height: 2.4rem; */
}
.previous, .next {
    /*  */
}
.previous::after, .next::after {
    
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: var(--notwhite);
    color: var(--notblack);
    box-shadow: var(--shadow-regular);
    text-decoration: none;
}
.pagination-link.active {
    background-color: var(--notblack);
    color: var(--white);
    box-shadow: var(--shadow-regular);
}
.pagination-link.disabled {
    background-color: var(--mono_100);
    color: var(--text-color-muted);
    cursor: not-allowed;
    box-shadow: none;
}
.pagination-link.disabled:hover,
.pagination-link.disabled:focus {
    background-color: var(--mono_100);
    color: var(--text-color-muted);
    box-shadow: none;
}
.pagination-link:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
}
.pagination-link:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}
.pagination-link:focus-visible:hover {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    box-shadow: none;
}
.pagination-link:focus-visible:active {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    box-shadow: none;
}




/* ----------------------- */
/* colour palette */

.colour-palette-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width: 576px) {
    .colour-palette-row {
        flex-wrap: unset;
    }
}


/* ----------------------- */
/* cards  */

.card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: stretch; */
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: var(--radius-regular);
    border: 1px solid var(--mono_100);
    overflow: hidden;
    box-shadow: 0 0 0px transparent;
    transition: transform 0.6s ease-in-out;
    position: relative;
}
.card:hover {
    /* transform: translateY(-0.5rem); */
    box-shadow: var(--shadow-regular);
}

.card-image {
    width: 100%;
    min-width: 10rem;
    height: auto;
    aspect-ratio: var(--aspect-ratio-1_1);
    object-fit: cover;
    max-width: var(--max-col-width);
    overflow: unset;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    /* border: 1px solid var(--mono_100); */
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
}
@media screen and (min-width: 576px) {
    .card,
    .product-card {     
        max-width: var(--one-half-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .card,
    .product-card {     
        max-width: var(--one-third-max-width);
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .card,
    .product-card {     
        max-width: var(--one-third-max-width);
        /* max-width: 30%; */
    }
}

/* current */

@media screen and (min-width: 576px) {
    .current-product-card,
    .current-program-section .upcoming-product-card {     
        max-width: var(--one-third-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .current-product-card {     
        /* max-width: var(--one-qtr-max-width); */
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .current-product-card {     
        /* max-width: var(--one-qtr-max-width); */
        /* max-width: 30%; */
    }
}

/* upcoming */

@media screen and (min-width: 576px) {
    .upcoming-product-card {     
        max-width: var(--one-third-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .upcoming-product-card {     
        max-width: var(--one-qtr-max-width);
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .upcoming-product-card {     
        max-width: var(--one-qtr-max-width);
        /* max-width: 30%; */
    }
}


/* grid */

.section-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-sm);
    width: 100%;
    max-width: unset;
    position: relative;
}
@media screen and (min-width: 880px) {
    .section-filter {
        justify-content: flex-end;
    }
}


@media screen and (min-width: 576px) {
    .column :where(.section-filter) {
        min-width: 520px;
    }
}

.section-filter form {
    flex-direction: column;
    max-width: unset;
}
@media screen and (min-width: 660px) {
    .section-filter form {
        flex-direction: row;
    }
}


.grid-program-section .column_inner {
    justify-content: flex-start;
}


@media screen and (min-width: 576px) {
    .grid-product-card {     
        max-width: var(--one-half-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .grid-product-card {     
        max-width: var(--one-qtr-max-width);
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .grid-product-card {     
        max-width: var(--one-qtr-max-width);
        /* max-width: 30%; */
    }
}

/* product card image */

.product-card:hover .product-card-image {
    box-shadow: var(--shadow-regular);
}
.product-card .product-card-image img {
    transition: var(--transition);
    transform: scale(1);
    min-height: 100%;
}
.product-card:hover .product-card-image img {
    transform: scale(1.02);
}

.product-card:hover .product-card-image, 
.product-card:hover .product-card-content {
    /* transform: translateY(-8px); */
}

.upcoming-product-card .product-card-image {     
    aspect-ratio: var(--aspect-ratio-3_2);
}
.product-card:hover .product-card-image {
    box-shadow: var(--shadow-regular);
}

@media screen and (min-width: 1080px) {
    .upcoming-product-card .product-card-image {     
        aspect-ratio: var(--aspect-ratio-1_1);
    }
    
}

/* grid-product */

/* grid-product-card & calendar-card card image */

.grid-product-card:hover [class*="card-image"],
.calendar-card:hover .product-card-content {
    /* box-shadow: var(--shadow-regular); */
}
.grid-product-card [class*="card-image"] img,
.calendar-card [class*="card-image"] img {
    transition: var(--transition);
    transform: scale(1);
    aspect-ratio: var(--ratio-ratio-3_2);
    border-radius: 0;
    object-fit: cover;
}
.grid-product-card:hover [class*="card-image"] img,
.calendar-card:hover [class*="card-image"] img {
    transform: scale(1.02);
}

.grid-product-card:hover [class*="card-image"], 
.grid-product-card:hover .product-card-content,
.calendar-card:hover [class*="card-image"],
.calendar-card:hover .product-card-content {
    /* transform: translateY(-8px); */
}

.grid-product-card [class*="card-image"],
.calendar-card [class*="card-image"] {
    aspect-ratio: var(--aspect-ratio-3_2);
}

@media screen and (min-width: 1080px) {
    .grid-product-card [class*="card-image"],
    .calendar-card [class*="card-image"] {     
        aspect-ratio: var(--aspect-ratio-1_1);
    }
}
@media screen and (min-width: 1080px) {
    .grid-product-card [class*="card-image"] img,
    .calendar-card [class*="card-image"] img {     
        aspect-ratio: var(--aspect-ratio-1_1);
    }
}


/* --------------------------------------------------- */
/* product-description card */

.product-description-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    /* background-color: transparent; */
    /* border: 1px solid var(--mono_100); */
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    height: auto;
    background-color: var(--white);
    border-radius: var(--radius-regular);
    border: 1px solid var(--mono_100);
    overflow: hidden;
    padding: 2rem;
}
/* section > *, */
.product-description-card > *{
    height:100%;
    transition: var(--transition);
}
@media screen and (min-width: 880px) {
    .product-description-card {     
        /* max-width: var(--max-col-width); */
        max-width: 400px;
    }
}

.product-description-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 2rem;
}
.product-description-card-title {
    font-size: var(--font-size-heading-3-bold);
    line-height: var(--line-height-regular);
    color: var(--notblack);
}

.product-description-card-text {
    font-size: var(--font-size-small);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 65ch;
}

.product-description-duration,
.product-description-date,
.product-description-who,
.product-description-category,
.product-description-overview,
.product-description-cost {
    font-size: var(--font-size-small);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    margin-bottom: 0.5rem;
}

.pd-title, .pd-title p, 
.pd-content, .pd-content p  {
    font-size: var(--font-size-regular    );
    line-height: var(--line-height-regular);
    color: var(--notblack);
}
.pd-title {
    font-weight: var(--font-weight-medium);
}

.product-description-card-text [class*="product-description"] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.product-description-date .pd-content,
.product-description-category .pd-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.125rem 0.5rem;
}

.product-description-cost {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-regular);
    color: var(--notblack);
}
.product-description-features {
    font-size: var(--font-size-small);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    margin-bottom: 1rem;
}

.product-description-card-title {
    font-size: var(--font-size-heading-4);
    line-height: var(--line-height-regular);
    color: var(--notblack);
}

/* ------------------------------------------ */
/* accordion */

.product-accordion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
}
.product-accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.product-accordion-item {
    border-top: 1px solid var(--mono_100);
}

.product-accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1rem;
        margin-top: 1rem;
}

.product-accordion-title {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0;
}
.product-accordion-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    transition: var(--transition);

}
.product-accordion-content p,
.product-accordion-item-text {
    font-size: var(--font-size-small);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    padding-top: 0.5rem;
}
.product-accordion-item-text > * {
    margin-bottom: 0.5rem;
}
.product-accordion-content {
    transition: var(--transition);
}
.state-open .product-accordion-content {
    height: 100%;
    opacity: 1;
    /* transition-delay: 50ms; */
}
.state-closed .product-accordion-content {
    height: 0;
    opacity: 0;
    transform: translateY(-2rem);
}

/* widget */
.state-open .product-accordion-icon path.vertical_line {
    opacity: 0;
}
.product-accordion-icon path.horizontal_line {
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.state-open .product-accordion-icon path.horizontal_line {
    transform: rotate(360deg);
    /* transition: transform 0.5s ease-in-out; */
}

.product-accordion-icon path.vertical_line {
    /* transform: rotate(0deg); */
    /* transform-origin: center; */
    transition: opacity 0.5s ease-in-out;
}
.state-closed .product-accordion-icon path.vertical_line {
    opacity: 1;
    /* transform: rotate(180deg); */
}

/* ------------------ */
/*  */

.card-sm, .card-1-6 {
    width: 100%;
    border-radius: var(--radius-small);

}
@media (min-width: 576px) {
    .card-sm, .card-1-6 {
        max-width: calc(var(--max-col-width)/2 - (var(--gap)*2/1));
    }
}
@media (min-width: 768px) {
    .card-sm, .card-1-6 {
        max-width: calc(var(--max-col-width)/3 - (var(--gap)*3/2));
    }
}
@media (min-width: 1080px) {
    .card-sm, .card-1-6 {
        max-width: calc(var(--max-col-width)/6 - (var(--gap)*6/5));
    }
}

.card .image {
    width: 100%;
    min-width: 10rem;
    height: auto;
    aspect-ratio: var(--aspect-ratio-1_1);
    object-fit: cover;
    max-width: var(--max-col-width);
}

.card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* -- */
    /* background-color: var(--white); */
}
.card-content, 
.product-card-content {
    font-size: var(--font-size-regular);
    /*  */
    overflow: hidden;
    /* display: -webkit-box;
    -webkit-box-orient: vertical; */
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    /* text-wrap: balance ; */
    -webkit-line-clamp: 3;
    line-clamp: 3;
    transition: var(--transition);
}
.card-content {
    padding:var(--padding-inner);
    background-color: var(--white);
}
.product-card-content {
    padding-top: var(--padding-inner);
    padding-bottom:var(--padding-inner);
    background-color: transparent;
    width: 100%;
    
}  
.product-card-text {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    margin-top: 0.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    /* text-wrap: balance ; */
    line-clamp: 3;
    -webkit-line-clamp: 3;
} 

.product-category {
    /* display: flex; */
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.product-category,
.product-category > * {
    font-size: var(--font-size-small);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
}
.product-category .pd-category:hover {
    text-decoration: underline;
}

.pd-category:not(:last-of-type):after {
    content: "; ";
    margin-right: 0.5rem;
}

.product-overview,
.product-overview > * {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--notblack);
}

.product-cost,
.product-cost > * {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    font-weight: var(--font-weight-medium);
    color: var(--notblack);
}

.card-content.with-padding {
    padding: var(--padding-inner);
}

/* small */

.card-sm .card-content {
    padding: var(--gap-sm);
}
.card-sm .card-content,
.card-sm .card-title,
.card-sm .card-text {
    font-size: var(--font-size-small);
    letter-spacing: 0;
}


/* medium */

.card-md {
    max-width: 400px;
}
.card-md .card-content {
    padding: var(--gap);
}
.card-md .card-content,
.card-md .card-title,
.card-md .card-text {
    font-size: var(--font-size-regular);
    letter-spacing: 0;
}

/* large */

.card-lg {
    width: 100%;
    min-width: calc((var(--max-col-width) - (var(--gap)*2)) /2 );
    max-width: 50%;
}
.card-lg .card-content {
    padding: var(--gap-large);
}
.card-lg .card-content,
.card-lg .card-title,
.card-lg .card-text {
    font-size: var(--font-size-large);
    letter-spacing: 0;
}

/*  */



.card-title {
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-title);
    color: var(--notblack);
    /* text-align: center; */
}
.product-card-title {
    font-size: var(--font-size-heading-5);
    line-height: var(--line-height-title);
    color: var(--notblack);
    
}
.calendar-card .product-card-title {
    margin-top: 1rem
}

.card-text {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    margin-top: 0.5rem;
}
.card-link {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--default);
    text-decoration: underline;
    margin-top: 0.5rem;
}
.card-link:hover,
.card-link:focus {
    color: var(--notwhite);
    text-decoration: none;
    box-shadow: var(--shadow-regular);
}

/* belief */

.belief-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .belief-card {     
        /* max-width: calc(var(--max-col-width) / 2 - (var(--gap-large) * 2 / 1)); */
        /* max-width: calc((var(--max-col-width) - (var(--gap-large) * 2 / 1)) / 2); */
        max-width: var(--one-half-max-width);
        /* max-width: 50%; */
    }
}


.belief-card:hover {
    box-shadow: var(--shadow-regular);
}
.belief-card .belief-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.belief-card:hover .belief-card-image img {
    transform: scale(1.02);
}

.belief-card:hover  {
    transform: translateY(-8px);
}

.belief-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 132px;
    aspect-ratio: var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 0.1);
    padding: 1rem;
}

.belief-card-image img {
    width: 100%;
    max-height: 82px;
    height: 100%;
        /* padding: 1rem; */
}

.belief-text {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-body);
    max-width: 45ch;
    word-wrap: normal;
    word-break: unset;
}

/* biog */

.biog-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-xlarge);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: var(--radius-medium);
    border: unset;
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    margin-bottom: var(--gap-large);
}

@media screen and (min-width: 880px) {  
    .biog-card {
        gap: var(--gap-large);     
        flex-direction: row;
    }
}


/*  */

.biog-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* max-width: 400px; */
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-medium);
    background-color: rgba(var(--primary_rgb), 0.1);
}
@media screen and (min-width: 880px) {  
    .biog-card-image {     
        width: 30%;
    }
}

.biog-card-image img {
    width: 100%;
    height: 100%;
        /* padding: 1rem; */
    object-fit: cover;
}

.biog-card .biog-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.biog-card:hover .biog-card-image img {
    transform: scale(1.02);
}

.biog-card .biog-card-image img {
    filter: saturate(0%);
}
.biog-card:hover .biog-card-image img {
    filter: saturate(100%);
}


/*  */

.biog-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.biog-card-title {
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.biog-card-position {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.biog-card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.biog-text, .biog-text > * {
    font-size: var(--font-size-body);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/* card-4-col */

.biog-card-4-col,
.card-4-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    /* border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100); */
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
}
.partner-section .card-4-col {
    
    gap: var(--gap);
    
}

@media screen and (min-width: 576px) {  
    .biog-card-4-col,
    .card-4-col {
        max-width: var(--one-half-max-width);
        flex: var(--one-half-max-width);
    }
}
@media screen and (min-width: 1080px) {  
    .biog-card-4-col,
    .card-4-col {
        max-width: var(--one-qtr-max-width);
    }
}


/*  */

.biog-card-4-col-image, 
.card-4-col-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-medium);
    background-color: rgba(var(--primary_rgb), 0.1);
    transition: var(--transition);
}
@media screen and (min-width: 880px) {  
    .biog-card-4-col-image, 
    .card-4-col-image {     
        width: 100%;
    }
}

.biog-card-4-col-image img, 
.card-4-col-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.partner-section .card-4-col-image  {
    width: 100%;
    height: 100%;
    max-width: 200px;
    background-color: rgba(var(--white_rgb), 1);
        /* padding: 1rem; */
}
.partner-section .card-4-col-image img {
    width: 100%;
    height: 100%;
    max-width: 160px;
    padding: 1rem;
    object-fit: contain;
        /* padding: 1rem; */
}

.biog-card-4-col .biog-card-4-col-image img, 
.card-4-col .card-4-col-image img {
    transition: var(--transition);
    transform: scale(1);
}
.biog-card-4-col:hover .biog-card-4-col-image img,
.card-4-col:hover .card-4-col-image img {
    transform: scale(1.02);
}

.biog-card-4-col .biog-card-4-col-image img,
.card-4-col .card-4-col-image img {
    filter: saturate(0%);
}
.biog-card-4-col:hover .biog-card-4-col-image img,
.card-4-col:hover .card-4-col-image img {
    filter: saturate(100%);
}

/*  */

.biog-card-4-col-content,
.card-4-col-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.biog-card-4-col-title,
.biog-card-4-col .biog-card-title,
.card-4-col-title,
.card-4-col .card-4-col-title {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.biog-card-4-col-position,
.biog-card-4-col .biog-card-position,
.biog-card-4-col-position,
.card-4-col .card-4-col-position {
    font-size: var(--font-size-body-5);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.biog-card-4-col-text, 
.biog-card-4-col-text > *,
.biog-card-4-col .biog-text,
.biog-card-4-col .biog-text > *,
.card-4-col-text, 
.card-4-col-text > *,
.card-4-col .card-4-col-text,
.card-4-col .card-4-col-text > * {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/*  */
/* vision */

.vision-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .vision-card {     
        max-width: var(--one-third-max-width);
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.vision-card:hover {
    box-shadow: var(--shadow-regular);
}
.vision-card .vision-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.vision-card:hover .vision-card-image img {
    transform: scale(1.02);
}

/* .belief-card:hover .belief-card-image, 
.belief-card:hover .belief-card-content, */
.vision-card:hover  {
    transform: translateY(-8px);
}

.vision-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 132px;
    aspect-ratio: var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 0.1);
    padding: 1rem;
}

.vision-card-image img {
    width: 100%;
    max-height: 82px;
    height: 100%;
        /* padding: 1rem; */
}

.vision-card-title {
    font-size: var(--font-size-heading-4);
    line-height: var(--line-height-regular);
    color: var(--mono);
}

.vision-text {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/*  */
/* sustainability */

.sustainability-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .sustainability-card {     
        max-width: var(--one-third-max-width);
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.sustainability-card:hover {
    box-shadow: var(--shadow-regular);
}
.sustainability-card .sustainability-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.sustainability-card:hover .sustainability-card-image img {
    transform: scale(1.02);
}


.sustainability-card:hover  {
    transform: translateY(-8px);
}

.sustainability-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    aspect-ratio:var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--notblack_rgb), 1);
    padding: 1rem;
}

.sustainability-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.sustainability-card-title {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-small);
    color: var(--primary);
}

.sustainability-text {
    font-size: var(--font-size-body-4);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/* breakout-card */


.breakout-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-sm);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 1.0);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .breakout-card {     
        max-width: var(--one-third-max-width);
        max-width: min-content;
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.breakout-card:hover {
    box-shadow: var(--shadow-regular);
}
.breakout-card .icon-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.breakout-card:hover .icon-card-image img {
    transform: scale(1.02);
}


.breakout-card:hover  {
    transform: translateY(-8px);
}

.breakout-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    aspect-ratio: var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 1);
    padding: 1rem;
}

.breakout-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.breakout-card-content {
    /*  */
}

.breakout-card-title {
    font-size: var(--font-size-heading-1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    color: var(--primary);
}
.breakout-card-title span {
    font-weight: var(--font-weight-light);
}

.breakout-text {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/* icon-card */

.icon-card-section .column:last-of-type {
    padding-top: 6rem;
}

.icon-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: unset;
    border: unset;
    overflow: hidden;
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    gap: var(--gap-medium);
}

@media screen and (min-width: 880px) {
    
    .icon-card {     
        justify-content: center;
        max-width: var(--one-third-max-width);
        /* height: 100%; */
    }    
}


.icon-card:hover {
    box-shadow: unset;
}
.icon-card .icon-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.icon-card:hover .icon-card-image img {
    /* transform: scale(1.02); */
}


.icon-card:hover  {
    /* transform: translateY(-8px); */
}

.icon-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    aspect-ratio: var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 1);
    padding: 1rem;
}

.icon-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.icon-card-content {
    /*  */
    padding: 0;
    padding-top: 0.5rem;
}

.icon-card-title {
    font-size: var(--font-size-heading-5);
    /* font-weight: var(--font-weight-bold); */
    line-height: var(--line-height-small);
    /* color: var(--primary); */
}
.icon-card-title span {
    font-weight: var(--font-weight-light);
}

.icon-text {
    font-size: var(--font-size-body-3);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/* icon-card */

.partner-logo-grid-section .column:last-of-type {
    padding-top: 6rem;
}

.partner-logo-grid {
    flex-wrap: wrap;
    gap: var(--gap);
}

.partner-logo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
        flex: var(--one-third-max-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: unset;
    border: unset;
    overflow: hidden;
    box-shadow: unset;
    transition: var(--transition);
    position: relative;
    gap: var(--gap-small);
}

@media screen and (min-width: 880px) {
    
    .partner-logo-card {     
        justify-content: center;
        /* max-width: var(--one-sixth-max-width); */
        max-width: calc((100% / 3) - (var(--gap-large) * (2 / 3)));
        flex: var(--one-third-max-width);
        /* height: 100%; */
    }    
}
@media screen and (min-width: 1080px) {
    
    .partner-logo-card {     
        justify-content: center;
        /* max-width: var(--one-sixth-max-width); */
        max-width: calc((100% / 3) - (var(--gap-large) * (2 / 3)));
        flex: var(--one-sixth-max-width);
        /* height: 100%; */
    }    
}


.partner-logo-card:hover {
    box-shadow: unset;
}
.partner-logo-card .partner-logo-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.partner-logo-card:hover .partner-logo-card-image img {
    transform: scale(1.02);
}


.partner-logo-card:hover  {
    /* transform: translateY(-8px); */
}

.partner-logo-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: var(--max-col-width);
    border-radius: unset;
    background-color: unset;
    /* padding: 1rem; */
}

.partner-logo-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.partner-logo-card-content {
    /*  */
    padding: 0;
    padding-top: 0.5rem;
}

.partner-logo-card-title {
    font-size: var(--font-size-body-6);
    letter-spacing: var(--letter-spacing-loose);
    line-height: var(--line-height-small);
    text-align: center;
    /* text-wrap: balance ; */
    /* color: var(--primary); */
    display: none;
}


/* mission */
.mission-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-large);
    width: 100%;
    height: auto;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    /* background-color: rgba(var(--white_rgb), 0.3); */
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    .mission-card {     
        max-width: var(--one-half-max-width);
        /* max-width: 50%; */
        height: 100%;
        flex-direction: row-reverse;
    }
}


.mission-card .mission-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.mission-card:hover .mission-card-image img {
    transform: scale(1.02);
}


.mission-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        height: 100%;
    /* aspect-ratio: var(--aspect-ratio-1_1); */
    /* max-width: var(--max-col-width); */
    border-radius: var(--radius-small);
    overflow: hidden;
}
@media screen and (min-width: 880px) {
    .mission-card-image {     
        width: 45vw;
        height: 100%;
        aspect-ratio: var(--aspect-ratio-2_3);
    }
}

.mission-card-image img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
    aspect-ratio: var(--aspect-ratio-3_2);
        /* padding: 1rem; */
}
@media screen and (min-width: 880px) {
    .mission-card-image img {     
        aspect-ratio: var(--aspect-ratio-2_3);
    }
}

.mission-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: var(--gap-large);
}

.mission-card-title {
    font-size: var(--font-size-heading-4);
    line-height: var(--line-height-regular);
    /* color: var(--mono); */
    margin-bottom: 0.5rem;
}

.mission-text {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/*  */
/* facts */

.facts-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .facts-card {     
        max-width: var(--one-third-max-width);
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.facts-card:hover {
    box-shadow: var(--shadow-regular);
}
.facts-card .facts-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.facts-card:hover .facts-card-image img {
    transform: scale(1.02);
}


.facts-card:hover  {
    transform: translateY(-8px);
}

.facts-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    aspect-ratio:var(--aspect-ratio-1_1);
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--notblack_rgb), 1);
    padding: 1rem;
}

.facts-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.facts-card-title {
    font-size: var(--font-size-heading-1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    color: var(--primary);
}
.facts-card-title span {
    font-weight: var(--font-weight-light);
}

.facts-text {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/* programs - half page */
/*  */

.programs-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-xlarge);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: var(--radius-medium);
    border: unset;
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    margin-bottom: var(--gap-large);
}

@media screen and (min-width: 880px) {  
    .programs-card {
        gap: var(--gap-large);     
        flex-direction: row;
    }
}


/*  */

.programs-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 400px; */
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-3_2);
    max-width: var(--max-col-width);
    border-radius: var(--radius-medium);
    background-color: rgba(var(--primary_rgb), 0.1);
}
@media screen and (min-width: 880px) {  
    .programs-card-image {     
        /* width: var(--one-half-max-width); */
    }
}

.programs-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
        /* padding: 1rem; */
}

.programs-card .programs-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.programs-card:hover .programs-card-image img {
    transform: scale(1.02);
}

.programs-card .programs-card-image img {
    filter: saturate(0%);
}
.programs-card:hover .programs-card-image img {
    filter: saturate(100%);
}


/*  */

.programs-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: var(--gap-medium);
}

.programs-card-title {
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.programs-card-position {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.programs-card-text {}

.programs-text, 
.programs-text > * {
    font-size: var(--font-size-body-1);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

.facts-text {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/* job cards */

/* job */

.job-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-large);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: unset;
    border: unset;
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    /* margin-bottom: var(--gap-large); */
    padding-bottom: var(--gap-large);
    border-bottom: 1px solid var(--mono_200);
}

@media screen and (min-width: 880px) {  
    .job-card {
        gap: var(--gap-large);     
        flex-direction: row;
    }
}


 @media screen and (min-width: 880px) {  
    .job-card .job-card-content:where( :not(.job-card-image + .job-card-content)){
    margin-left: calc(var(--gap-large) + 100px)
    }
 }

/*  */

.job-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-1_1);
    /* max-width: var(--max-col-width); */
    border-radius: var(--radius-small);
    /* background-color: rgba(var(--primary_rgb), 0.1); */
}
@media screen and (min-width: 880px) {  
    .job-card-image {     
        /* width: 20%;
        max-width: 100px; */
    }
}

.job-card-image img {
    width: 100%;
    height: 100%;
        /* padding: 1rem; */
}

.job-card .job-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.job-card:hover .job-card-image img {
    transform: scale(1.02);
}

.job-card .job-card-image img {
    filter: saturate(0%);
}
.job-card:hover .job-card-image img {
    filter: saturate(100%);
}


/*  */

.job-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: var(--gap-medium);
}

.job-card-title {
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.job-card-org {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.job-card-text, .job-card-text > *:not(.button) {
    font-size: var(--font-size-body);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}
.job-card-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

/* blog cards */

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-large);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: unset;
    border: unset;
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    /* margin-bottom: var(--gap-large); */
    padding-bottom: var(--gap-large);
    border-bottom: 1px solid var(--mono_200);
}

@media screen and (min-width: 880px) {  
    .blog-card {
        gap: var(--gap-large);     
        flex-direction: row;
    }
}


 @media screen and (min-width: 880px) {  
    .blog-card .blog-card-content:where( :not(.blog-card-image + .blog-card-content)){
        margin-left: calc(var(--gap-large) + 100px)
    }
 }

/*  */

.blog-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-1_1);
    /* max-width: var(--max-col-width); */
    border-radius: var(--radius-small);
    /* background-color: rgba(var(--primary_rgb), 0.1); */
}
@media screen and (min-width: 880px) {  
    .blog-card-image {     
        /* width: 20%;
        max-width: 100px; */
    }
}

.blog-card-image img {
    width: 100%;
    height: 100%;
        /* padding: 1rem; */
}

.blog-card .blog-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.blog-card:hover .blog-card-image img {
    transform: scale(1.02);
}

.blog-card .blog-card-image img {
    filter: saturate(0%);
}
.blog-card:hover .blog-card-image img {
    filter: saturate(100%);
}


/*  */

.blog-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: var(--gap-medium);
}

.blog-card-title {
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.blog-card-subtitle {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.blog-card-text, .blog-card-text > *:not(.button) {
    font-size: var(--font-size-body);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}
.blog-card-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

/*  */