
/* ----------------------- */
/* CARDS */

/* ----------------------- */
/* template */

.colour-palette-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width: 576px) {
    .colour-palette-row {
        flex-wrap: unset;
    }
}
/*   */

.card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: stretch; */
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: var(--radius);
    border: 1px solid var(--mono_100);
    overflow: hidden;
    box-shadow: 0 0 0px transparent;
    transition: transform 0.6s ease-in-out;
    position: relative;
}
.card:hover {
    /* transform: translateY(-0.5rem); */
    box-shadow: var(--shadow-regular);
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    /* border: 1px solid var(--mono_100); */
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
}
@media screen and (min-width: 576px) {
    .card,
    .product-card {     
        max-width: var(--one-half-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .card,
    .product-card {     
        max-width: var(--one-third-max-width);
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .card,
    .product-card {     
        max-width: var(--one-third-max-width);
        /* max-width: 30%; */
    }
}

/* current */

@media screen and (min-width: 576px) {
    .current-product-card {     
        max-width: var(--one-third-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .current-product-card {     
        /* max-width: var(--one-qtr-max-width); */
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .current-product-card {     
        /* max-width: var(--one-qtr-max-width); */
        /* max-width: 30%; */
    }
}

/* upcoming */

@media screen and (min-width: 576px) {
    .upcoming-product-card {     
        max-width: var(--one-third-max-width);
    }
}
@media screen and (min-width: 1080px) {
    .upcoming-product-card {     
        max-width: var(--one-qtr-max-width);
        /* max-width: 30%; */
    }
}
@media screen and (min-width: 1440px) {
    .upcoming-product-card {     
        max-width: var(--one-qtr-max-width);
        /* max-width: 30%; */
    }
}


.product-card:hover .product-card-image {
    box-shadow: var(--shadow-regular);
}
.product-card .product-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.product-card:hover .product-card-image img {
    transform: scale(1.02);
}

.product-card:hover .product-card-image, 
.product-card:hover .product-card-content {
    transform: translateY(-8px);
}

.upcoming-product-card .product-card-image {     
        aspect-ratio: var(--aspect-ratio-3_2);
}

@media screen and (min-width: 1080px) {
    .upcoming-product-card .product-card-image {     
        aspect-ratio: var(--aspect-ratio-1_1);
    }
}

/* ------------------ */
/*  */

.card-sm, .card-1-6 {
    width: 100%;
    border-radius: var(--radius-small);

}
@media (min-width: 576px) {
    .card-sm, .card-1-6 {
        max-width: calc(var(--max-col-width)/2 - (var(--gap)*2/1));
    }
}
@media (min-width: 768px) {
    .card-sm, .card-1-6 {
        max-width: calc(var(--max-col-width)/3 - (var(--gap)*3/2));
    }
}
@media (min-width: 1080px) {
    .card-sm, .card-1-6 {
        max-width: calc(var(--max-col-width)/6 - (var(--gap)*6/5));
    }
}

.card .image {
    width: 100%;
    min-width: 10rem;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: var(--max-col-width);
}

.card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    /* -- */
    /* background-color: var(--white); */
}
.card-content, 
.product-card-content {
    font-size: var(--font-size-regular);
    /*  */
    overflow: hidden;
    /* display: -webkit-box;
    -webkit-box-orient: vertical; */
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    text-wrap: balance;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    transition: var(--transition);
}
.card-content {
    padding:var(--padding-inner);
    background-color: var(--white);
}
.product-card-content {
    padding-top: var(--padding-inner);
    padding-bottom:var(--padding-inner);
    background-color: transparent;
    width: 100%;
    
}  
.product-card-text {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    margin-top: 0.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    text-wrap: balance;
    line-clamp: 3;
    -webkit-line-clamp: 3;
} 

.card-content.with-padding {
    padding: var(--padding-inner);
}

/* small */

.card-sm .card-content {
    padding: var(--gap-sm);
}
.card-sm .card-content,
.card-sm .card-title,
.card-sm .card-text {
    font-size: var(--font-size-small);
    letter-spacing: 0;
}


/* medium */

.card-md {
    max-width: 400px;
}
.card-md .card-content {
    padding: var(--gap);
}
.card-md .card-content,
.card-md .card-title,
.card-md .card-text {
    font-size: var(--font-size-regular);
    letter-spacing: 0;
}

/* large */

.card-lg {
    width: 100%;
    min-width: calc((var(--max-col-width) - (var(--gap)*2)) /2 );
    max-width: 50%;
}
.card-lg .card-content {
    padding: var(--gap-large);
}
.card-lg .card-content,
.card-lg .card-title,
.card-lg .card-text {
    font-size: var(--font-size-large);
    letter-spacing: 0;
}

/*  */



.card-title {
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-title);
    color: var(--notblack);
    /* text-align: center; */
}
.product-card-title {
    font-size: var(--font-size-heading-5);
    line-height: var(--line-height-title);
    color: var(--notblack);
    
}
.card-text {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    margin-top: 0.5rem;
}
.card-link {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--default);
    text-decoration: underline;
    margin-top: 0.5rem;
}
.card-link:hover,
.card-link:focus {
    color: var(--notwhite);
    text-decoration: none;
    box-shadow: var(--shadow-regular);
}

/* belief */

.belief-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .belief-card {     
        /* max-width: calc(var(--max-col-width) / 2 - (var(--gap-large) * 2 / 1)); */
        /* max-width: calc((var(--max-col-width) - (var(--gap-large) * 2 / 1)) / 2); */
        max-width: var(--one-half-max-width);
        /* max-width: 50%; */
    }
}


.belief-card:hover {
    box-shadow: var(--shadow-regular);
}
.belief-card .belief-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.belief-card:hover .belief-card-image img {
    transform: scale(1.02);
}

/* .belief-card:hover .belief-card-image, 
.belief-card:hover .belief-card-content, */
.belief-card:hover  {
    transform: translateY(-8px);
}

.belief-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 132px;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 0.1);
    padding: 1rem;
}

.belief-card-image img {
    width: 100%;
    max-height: 82px;
    height: 100%;
        /* padding: 1rem; */
}

.belief-text {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/* biog */

.biog-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-xlarge);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: var(--radius-medium);
    border: unset;
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    margin-bottom: var(--gap-large);
}

@media screen and (min-width: 880px) {  
    .biog-card {
        gap: var(--gap-large);     
        flex-direction: row;
    }
}


/*  */

.biog-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 400px;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-medium);
    background-color: rgba(var(--primary_rgb), 0.1);
}
@media screen and (min-width: 880px) {  
    .biog-card-image {     
        width: 30%;
    }
}

.biog-card-image img {
    width: 100%;
    height: 100%;
        /* padding: 1rem; */
}

.biog-card .biog-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.biog-card:hover .biog-card-image img {
    transform: scale(1.02);
}

.biog-card .biog-card-image img {
    filter: saturate(0%);
}
.biog-card:hover .biog-card-image img {
    filter: saturate(100%);
}


/*  */

.biog-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.biog-card-title {
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.biog-card-position {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.biog-text, .biog-text > * {
    font-size: var(--font-size-body);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/* card-4-col */

.biog-card-4-col,
.card-4-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-xlarge);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: transparent;
    /* border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100); */
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
}

@media screen and (min-width: 576px) {  
    .biog-card-4-col,
    .card-4-col {
        max-width: var(--one-half-max-width);
        flex: var(--one-half-max-width);
    }
}
@media screen and (min-width: 1080px) {  
    .biog-card-4-col,
    .card-4-col {
        max-width: var(--one-qtr-max-width);
    }
}


/*  */

.biog-card-4-col-image, 
.card-4-col-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-medium);
    background-color: rgba(var(--primary_rgb), 0.1);
    transition: var(--transition);
}
@media screen and (min-width: 880px) {  
    .biog-card-4-col-image, 
    .card-4-col-image {     
        width: 100%;
    }
}

.biog-card-4-col-image img, 
.card-4-col-image img {
    width: 100%;
    height: 100%;
        /* padding: 1rem; */
}

.biog-card-4-col .biog-card-4-col-image img, 
.card-4-col .card-4-col-image img {
    transition: var(--transition);
    transform: scale(1);
}
.biog-card-4-col:hover .biog-card-4-col-image img,
.card-4-col:hover .card-4-col-image img {
    transform: scale(1.02);
}

.biog-card-4-col .biog-card-4-col-image img {
    filter: saturate(0%);
}
.biog-card-4-col:hover .biog-card-4-col-image img {
    filter: saturate(100%);
}

/*  */

.biog-card-4-col-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.biog-card-4-col-title,
.biog-card-4-col .biog-card-title {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--primary);
}

.biog-card-4-col-position,
.biog-card-4-col .biog-card-position {
    font-size: var(--font-size-body-5);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.biog-card-4-col-text, 
.biog-card-4-col-text > *,
.biog-card-4-col .biog-text,
.biog-card-4-col .biog-text > * {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/*  */
/* vision */

.vision-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .vision-card {     
        max-width: var(--one-third-max-width);
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.vision-card:hover {
    box-shadow: var(--shadow-regular);
}
.vision-card .vision-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.vision-card:hover .vision-card-image img {
    transform: scale(1.02);
}

/* .belief-card:hover .belief-card-image, 
.belief-card:hover .belief-card-content, */
.vision-card:hover  {
    transform: translateY(-8px);
}

.vision-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 132px;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 0.1);
    padding: 1rem;
}

.vision-card-image img {
    width: 100%;
    max-height: 82px;
    height: 100%;
        /* padding: 1rem; */
}

.vision-card-title {
    font-size: var(--font-size-heading-4);
    line-height: var(--line-height-regular);
    color: var(--mono);
}

.vision-text {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/*  */
/* sustainability */

.sustainability-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .sustainability-card {     
        max-width: var(--one-third-max-width);
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.sustainability-card:hover {
    box-shadow: var(--shadow-regular);
}
.sustainability-card .sustainability-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.sustainability-card:hover .sustainability-card-image img {
    transform: scale(1.02);
}


.sustainability-card:hover  {
    transform: translateY(-8px);
}

.sustainability-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--notblack_rgb), 1);
    padding: 1rem;
}

.sustainability-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.sustainability-card-title {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-small);
    color: var(--primary);
}

.sustainability-text {
    font-size: var(--font-size-body-4);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color-muted);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}

/* breakout-card */


.breakout-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-sm);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 1.0);
    border-radius: var(--radius-medium);
    border: 1px solid var(--mono_100);
    /* overflow: hidden; */
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    padding: var(--padding-medium);
}

@media screen and (min-width: 880px) {
    
    .breakout-card {     
        max-width: var(--one-third-max-width);
        max-width: min-content;
        /* max-width: calc(var(--max-col-width) / 3 - (var(--gap-large) * 3 / 2)); */
        height: 100%;
    }    
}


.breakout-card:hover {
    box-shadow: var(--shadow-regular);
}
.breakout-card .icon-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.breakout-card:hover .icon-card-image img {
    transform: scale(1.02);
}


.breakout-card:hover  {
    transform: translateY(-8px);
}

.breakout-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 1);
    padding: 1rem;
}

.breakout-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.breakout-card-content {
    /*  */
}

.breakout-card-title {
    font-size: var(--font-size-heading-1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    color: var(--primary);
}
.breakout-card-title span {
    font-weight: var(--font-weight-light);
}

.breakout-text {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/* icon-card */

.icon-card-section .column:last-of-type {
    padding-top: 6rem;
}

.icon-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
    background-color: rgba(var(--white_rgb), 0.3);
    border-radius: unset;
    border: unset;
    overflow: hidden;
    box-shadow: 0 0 0px transparent;
    transition: var(--transition);
    position: relative;
    gap: var(--gap-medium);
}

@media screen and (min-width: 880px) {
    
    .icon-card {     
        justify-content: center;
        max-width: var(--one-third-max-width);
        /* height: 100%; */
    }    
}


.icon-card:hover {
    box-shadow: unset;
}
.icon-card .icon-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.icon-card:hover .icon-card-image img {
    /* transform: scale(1.02); */
}


.icon-card:hover  {
    /* transform: translateY(-8px); */
}

.icon-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    aspect-ratio: 1 / 1;
    max-width: var(--max-col-width);
    border-radius: var(--radius-circle);
    background-color: rgba(var(--primary_rgb), 1);
    padding: 1rem;
}

.icon-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.icon-card-content {
    /*  */
    padding: 0;
    padding-top: 0.5rem;
}

.icon-card-title {
    font-size: var(--font-size-heading-5);
    /* font-weight: var(--font-weight-bold); */
    line-height: var(--line-height-small);
    /* color: var(--primary); */
}
.icon-card-title span {
    font-weight: var(--font-weight-light);
}

.icon-text {
    font-size: var(--font-size-body-3);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-regular);
    color: var(--notblack);
    max-width: 75ch;
    word-wrap: normal;
    word-break: unset;
}


/* icon-card */

.partner-logo-grid-section .column:last-of-type {
    padding-top: 6rem;
}

.partner-logo-grid {
    flex-wrap: wrap;
    gap: var(--gap);
}

.partner-logo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
        flex: var(--one-third-max-width);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: unset;
    border: unset;
    overflow: hidden;
    box-shadow: unset;
    transition: var(--transition);
    position: relative;
    gap: var(--gap-small);
}

@media screen and (min-width: 880px) {
    
    .partner-logo-card {     
        justify-content: center;
        /* max-width: var(--one-sixth-max-width); */
        max-width: calc((100% / 3) - (var(--gap-large) * (2 / 3)));
        flex: var(--one-third-max-width);
        /* height: 100%; */
    }    
}
@media screen and (min-width: 1080px) {
    
    .partner-logo-card {     
        justify-content: center;
        /* max-width: var(--one-sixth-max-width); */
        max-width: calc((100% / 3) - (var(--gap-large) * (2 / 3)));
        flex: var(--one-sixth-max-width);
        /* height: 100%; */
    }    
}


.partner-logo-card:hover {
    box-shadow: unset;
}
.partner-logo-card .partner-logo-card-image img {
    transition: var(--transition);
    transform: scale(1);
}
.partner-logo-card:hover .partner-logo-card-image img {
    transform: scale(1.02);
}


.partner-logo-card:hover  {
    /* transform: translateY(-8px); */
}

.partner-logo-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: var(--max-col-width);
    border-radius: unset;
    background-color: unset;
    /* padding: 1rem; */
}

.partner-logo-card-image img {
    width: 100%;
    max-height: 48px;
    height: 100%;
        /* padding: 1rem; */
}

.partner-logo-card-content {
    /*  */
    padding: 0;
    padding-top: 0.5rem;
}

.partner-logo-card-title {
    font-size: var(--font-size-body-6);
    letter-spacing: var(--letter-spacing-loose);
    line-height: var(--line-height-small);
    text-align: center;
    text-wrap: balance;
    /* color: var(--primary); */
}


