.section {
    padding-block: 32px;
}

@media (min-width: 768px) {
    .section {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        padding-block: 48px;
    }
}
@media (min-width: 1440px) {
    .section {
        padding-block: 64px;
    }
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 24px;
}
@media (min-width: 768px) {
    .wrapper {
        padding-inline: 32px;
    }
}
@media (min-width: 1080px) {
    .wrapper {
        padding-inline: 48px;
    }
}


.container-content-grid {
    
}

.content-grid {
    display: grid;
    grid-gap: 40px 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: flex-start;
    /* padding: var(--padding); */
    padding-block-end: 40px;
    /* width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box; */
}
/* grid */
@media (min-width: 768px) {
    .content-grid {
        grid-gap: 48px 16px;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        /* padding-block-end: 48px; */
    }
}
@media (min-width: 1080px) {
    .content-grid {
        grid-gap: 48px 24px;
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}
@media (min-width: 1440px) {
    .content-grid {
        grid-gap: 64px 32px;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        /* padding-block-end: 64px; */
    }
}

.content-grid-item {
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    height: 100%;
}
@media (min-width: 768px) {
    .content-grid-item {
        max-width: 768px;
        /* padding: 64px; */
    }
}

.content-grid-item--2-col,
.content-grid-item--4-col {
    padding: 0;
}

@media (min-width: 768px) {
    .content-grid-item--4-col {
        grid-column: span 2;
    }
}
@media (min-width: 1440px) {
    .content-grid-item--4-col {
        grid-column: span 3;
    }
}


.content-grid-item--2-col {
    grid-column: 1 / -1;
}
@media (min-width: 768px) {
    .content-grid-item--2-col {
        grid-column: span 3;
    }
}
@media (min-width: 1080px) {
    .content-grid-item--2-col {
        grid-column: span 4;
    }
}
@media (min-width: 1440px) {
    .content-grid-item--2-col {
        grid-column: span 6;
    }
}

.content-grid-item--2-col:first-of-type .split-hero-content-item {
    padding-left: 0;
}


.card-image {
    position: relative;
    /* margin-block-end: 16px; */
}
@media (min-width: 1080px) {
    .card-image {
        /* margin-block-end: 24px; */
    }
}

@media (min-width: 1080px) {
    .card-image__wrapper {
        border-radius: 24px;
    }
}
.card-image__wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 16px;
}

.card-image__img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .35s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

/* slider */

.content-slider__inner {
    --slider-width: 46.7%;
    position: relative;
    display: flex
;
    flex-flow: row nowrap;
    gap: 16px 0;
    margin-inline: 16px;
}
@media (min-width: 768px) {
    .content-slider__inner {
        --slider-width: 33.3333%;
        margin-inline: 24px;
    }
}
@media (min-width: 1080px) {
    .content-slider__inner {
        --slider-width: 25%;
        margin-inline: 36px;
    }
}
.content-slider__slide {
    position: relative;
    flex-shrink: 0;
    width: var(--slider-width);
    padding-inline: 8px;
    opacity: .6;
}

.type-h5, .type-subtitle {
    font-size: 18px;
    letter-spacing: .04em;
}
@media (min-width: 1080px) {
    .type-h5, .type-subtitle {
        font-size: 24px;
    }
}