/* heros */


/*  */



.generic-hero {
    position: relative;
    overflow: hidden;
    display: block;
    width: auto;
    height: inherit;
    border-radius: var(--radius);
    /* border-radius: 32px; */
}
.split-hero  {}


@media (min-width: 1080px) {
    .generic-hero,
    .split-hero {
        /* border-radius: 48px; */
    }
}
.full-width {
    width: 100%;
    margin: auto;
}
.half-width {
    width: 50%;
    margin: auto;
}
@media (min-width: 1080px) {
    .half-width {
        width: 100%;
        margin: auto;
    }
}
.generic-hero.full-width {
    margin: auto 0;
    width: 100%;
    border-radius: var(--radius);
}
.generic-hero.square-width {
    width: 100%;
}

@media (min-width: 1080px) {
    .generic-hero.full-width {
        margin: auto 0;
    }
}

.hero-split, .split-hero {
    width: 100%;
    height: 100%;
}

.hero-split__img-wrapper,
.split-hero-image.image-wrapper,
.split-hero-image.image-wrap  {
    overflow: hidden;
    border-radius: var(--radius);
}
@media (min-width: 1080px) {
    .hero-split__img-wrapper,
    .split-hero-image.image-wrapper,
    .split-hero-image.image-wrap {
        /* border-radius: 48px; */
        aspect-ratio: 1 / 1;
    }
}


.hero-split__copy {
    transform: translateY(24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    text-align: center;
    /* opacity: 0;
    transition: opacity .6s ease-out, transform .6s ease-out; */
}

/* generic-hero-image (image wrapper) */

.generic-hero__image, 
.generic-hero-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-height: 45vh;
    display: flex;
    height: 100%;
    align-items: stretch;
}
@media (min-width: 1080px) {
    
    .generic-hero-image {
        min-height: var(--min-row-height);
    }
}

/* image */

[class*="generic-hero"] .row,
[class*="generic-hero"] .column {
    max-width: 90vw;
}
[class*="generic-hero"] .image-wrap {
    max-width: unset;
}

.generic-hero-image img {
    min-height: 55vh;
    object-fit: cover;
    object-position: center right;
}
@media (min-width: 1080px) {
    .generic-hero-image img {
        min-height: var(--min-row-height);
        object-fit: cover;
    }
}


/* .generic-hero-content */

.generic-hero__content,
.generic-hero-content,
.split-hero-content {
    /* pointer-events: none; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-right: 0%;
    padding-left: 0%;
    /* padding: 3rem; */
    /* z-index: 1;
    position: relative; */
}

.generic-hero-content,
    .split-hero-content {
        min-height: unset;
        height: auto;
    }
@media (min-width: 1080px) {
    .generic-hero-content,
    .split-hero-content {
        /* min-height: var(--min-row-height); */
        height: 100%;
    }
    .generic-hero-content {
        min-height: var(--min-row-height);
    }
}

.generic-hero-content-item,
.split-hero-content-item {
    padding-right: 64px;
}

@media (min-width: 1080px) {
    .generic-hero__content--align-left,
    .generic-hero-content-item,
    .split-hero-content-item {
        padding-right: 48px;
    }
}

.has-image .generic-hero__content.has-gradient.generic-hero__content,
.generic-hero-content.has-gradient {
    background: var(--overlay-left,rgba(var(--notblack_rgb)), 0.8);
    background: rgba(var(--notblack_rgb), 0.5);
}
@media (min-width: 1080px) {
    .has-image .generic-hero__content.has-gradient.generic-hero__content,
    .generic-hero-content.has-gradient {
        background: var(--overlay-left, linear-gradient(270deg, rgba(39 41 38 / 0%) 0%, rgba(39 41 38 / 50%) 85%));
    }
}

.generic-hero__content-item,
.generic-hero-content-item,
.split-hero-content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 32px;
    transition: transform .6s ease-out, opacity .6s ease-out;
    gap: 32px;
}
.split-hero-content-item {
    padding: 32px 0;
}

.animate_text {
    transform: translateY(24px);
    opacity: 0;
}

@media (min-width: 768px) {
    .generic-hero__content-item,
    .generic-hero-content-item,
    .split-hero-content-item {
        max-width: 768px;
        padding: 32px;
    }
    .half-width .generic-hero-content-item {
        max-width: 60%;
    }
}
@media (min-width: 1080px) {
    .generic-hero__content-item,
    .generic-hero-content-item,
    .split-hero-content-item {
        max-width: 768px;
        padding: 64px;
    }
    .half-width .generic-hero-content-item {
        max-width: 50%;
    }
    
}

.generic-hero-content-inner,
.generic-hero-content-inner .standard-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.generic-hero__content-item--title,
.generic-hero-content-item--title,
.generic-hero-title,
.split-hero-title {
    font-size: var(--font-size-hero-title);
    line-height: var(--line-height-hero-title);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-tighter);
    /* text-transform: var(--text-transform-uppercase); */
    text-wrap: balance ;
    text-decoration: var(--text-decoration-none);
}
.generic-hero-title {
    color: var(--white);
}

.split-hero-title {
    color: var(--black);
}

.generic-hero__content-item--subtitle,
.generic-hero-subtitle,
.split-hero-subtitle,
.subtitle {
    font-size: var(--font-size-hero-subtitle);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-tight);
}
.generic-hero-subtitle {
    color: var(--notwhite);
}
.half-width .generic-hero-title,
.half-width h4 {
    color: rgba(var(--white_rgb), 0.6);
    color: var(--transparent-white);
}
.split-hero-subtitle {
    color: var(--notblack);
}

.generic-hero__content-item--text,
.generic-hero-text,
.split-hero-text {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-regular);
    /* text-wrap: balance ; */
    text-decoration: var(--text-decoration-none);
}
.generic-hero-text {
    color: var(--notwhite);
}
.split-hero-text {
    color: var(--notblack);
}

/* no image hack */

.has-image :has(img[src=""]) {
    display: none;
}
.has-image :has(img[src=""]) + .has-gradient {
    background: unset;
}
.has-image :has(img[src=""]) + .has-gradient > * {
    color: var(--notblack);
}