/* pop-up css */


/* Popup (modal) */
.popup {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9000;
}
.popup.is-open {
  display: block;
}
.popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}
.popup-dialog {
  position: relative;
  z-index: 1;
  width: min(440px, 92vw);
  margin: 8vh auto;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  opacity: 0;
  transition: var(--transition);
  transition-delay: 0.25;
}
.is-open .popup-dialog {
  opacity: 1;
}

.popup-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: var(--font-size-button-lrg);
    line-height: 0.75;
    background: transparent;
    border: 0;
    cursor: pointer;
    /*  */
    margin: 0;
    padding: 0.25rem 0.5rem 0.55rem;
    z-index: 99999;
    color: var(--notblack);
    text-decoration: none;
    border: unset;
    border-radius: var(--radius-small);
    transition: var(--transition);
    box-shadow: none;
    background-size: unset;
    background-position: unset;
}
button.popup-close:hover,
[attr="data-popup-close"]:hover {
    position: absolute;
    z-index: 99999;
    color: var(--notblack);
    text-decoration: none;
    border: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.05);
    background-size: unset;
    background-position: unset;
    border-radius: var(--radius-large);
    transform: rotate(90deg);
}

h2#popupTitle, .popup-dialog h2  {
    font-size: var(--font-size-heading-4);
}

.popup-form .form-row {
  /* display: grid;
  gap: 6px;
  margin-bottom: 14px; */
}
.popup-form input,
.popup-form textarea {
  width: 100%;
  /* padding: 10px 12px;
  border: 1px solid #cfd6df;
  border-radius: 6px; */
  /* font: inherit; */
}

.popup-form input[type="file"] {
    padding: 0 1rem 0 0 ;
    margin-bottom: 2rem;

}
::file-selector-button {
    border: 1px solid var(--grey);
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    margin-right: 1rem;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-button-sm);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-button);
    line-height: var(--line-height-button);

  /* background-color: lightgreen; */
}

.popup-form input:focus,
.popup-form textarea:focus {
  /* outline: 2px solid #1a73e8;
  border-color: #1a73e8; */
}
.body.no_scroll,
.no_scroll {
  overflow: hidden;
}
/*  */