/* overpower @woocommerce styles */

/*  */

.woocommerce {
    /* margin-top: var(--header-height); */
}
/* .site-content>.col-full>.woocommerce>.woocommerce-message:first-child, */
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info {
    margin: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
}

/* hide too many messages */


.woocommerce-info:not(:first-of-type) {
    display: none;
} 


.woocommerce-cart .split-hero-section {
    display: none;
}

.woocommerce-cart article, 
.woocommerce-checkout article {
    width: var(--max-col-width);
    padding-top: var(--header-height);
}

header.entry-header,
header.woocommerce-products-header {
    display:none;
}

body.product-template-default.single-product,
body.archive.post-type-archive.post-type-archive-product,
body[class*="woocommerce"] { 
    /* padding-top: var(--header-height); */
}

.storefront-breadcrumb {
    /* margin: var(--header-height) auto 0; */
    padding: 0;
    display: none !important;
}

#content.site-content {
    margin: var(--header-height) auto 0; 
}

/* [class*="woocommerce"] main.site-main, */
[class*="woocommerce-page"] main.site-main {
    margin: calc(var(--header-height)/2) auto 0; 
}

@media (min-width: 1440px) {
    .section {
        /* padding-block: var(--padding-xxlarge); */
    }
}

/*  */

.products.columns-4 {
    /* --one-third-max-width: calc((100% - (var(--gutter) * 3)) / 4); */
    max-width: var(--max-col-width);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
    width: 100%;
    max-width: var(--max-col-width);
    box-sizing: border-box;
}

.storefront-full-width-content .site-main ul.products.columns-4 li.product,
.products .product.type-product {
    width: 100%;
    max-width: var(--max-col-width);
    
    float: unset;
    margin-right: unset; 
}

@media (min-width: 768px) {
    .storefront-full-width-content .site-main ul.products.columns-4 li.product,
    .products .product.type-product {
        width: calc(var(--one-qtr-max-width));
    }
}


/* product */
.product.type-product a,
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link,
ul.products li.product .woocommerce-LoopProduct-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


/* single product */

.single-product div.product {
    padding: 0 var(--padding);
    max-width: var(--max-col-width);
}

/*  */

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery,
.storefront-full-width-content .woocommerce-tabs ul.tabs {
    padding: 0 ;
    /* padding-left: var(--padding); */
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
} 
.storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
    margin-right: var(--padding);
    padding-left: var(--padding);
}

@media (min-width: 768px) {
    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery,
    .storefront-full-width-content .woocommerce-tabs ul.tabs {
        max-width: var(--one-third-max-width);
    } 
}

@media (min-width: 768px) {
    .storefront-full-width-content .woocommerce-tabs .panel,
    .storefront-full-width-content.single-product div.product .summary,
    .product .summary {
        padding: 0 ;
        width: 100%;
        max-width: var(--two-thirds-max-width);
        /* float: unset; */
        margin-right: var(--padding);
        margin-bottom: var(--padding);
    }
}

@media (min-width: 768px) {
    .summary .entry-summary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap);
        width: 60%;
        padding-right: var(--padding);
    }
}

@media (min-width: 768px) {
    .woocommerce-tabs {
        padding-top: var(--padding);
        padding-bottom: var(--padding);
    }
}

.woocommerce-tabs.wc-tabs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap);
    width: var(--max-col-width);
}

@media (min-width: 768px) {
    .storefront-full-width-content .woocommerce-tabs .panel {
        padding: 0 ;
        width: 100%;
        max-width: var(--two-thirds-max-width);
        /* float: unset; */
        margin-right: 0;
        margin-bottom: 0;
    }
}

/* product */

@media (min-width: 66.4989em) {
    .storefront-align-wide.page-template-template-fullwidth-php .hentry .entry-content .alignwide, 
    .storefront-align-wide.storefront-full-width-content .hentry .entry-content .alignwide {
        margin: 0 auto;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.wc-block-grid__products {
    gap: var(--gap-large);
}

.wc-block-grid__product {
    max-width: var(--max-col-width);
}

@media screen and (min-width: 1440px) {
    .wc-block-grid__product,
    .wc-block-grid.has-4-columns .wc-block-grid__product {
        max-width: var(--one-qtr-max-width);
    }
}

.wc-block-grid__products .wc-block-grid__product {
    gap: 1.2rem
}

.wc-block-grid__products .wc-block-grid__product > * {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 0;
}


.wc-block-grid__product-image,
.wc-block-grid__product .wc-block-grid__product-image:not(.wc-block-components-product-image) {
    overflow: hidden;
    border-radius: var(--radius-medium);
    transition: var(--transition);
    aspect-ratio: var(--aspect-ratio-1_1);
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.wc-block-grid__products .wc-block-grid__product-image img {
    transition: var(--transition);
    transform: scale(1);
    min-height: 100%;
}
a:hover .wc-block-grid__products .wc-block-grid__product-image img {
    transform: scale(1.05);
}

.wc-block-grid__product-title,
.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
    text-wrap: balance;
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-heading);
    line-height: var(--line-height-title);
    color: var(--notblack);
    max-width: 45ch;
}

.wp-block-button {
    max-width: fit-content;
}


/* Provides fallback intrinsic dimensions */
/* caveat: Very large numbers (3000x1500) might allocate more space than needed if the actual image is smaller; */

img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 3000px 1500px;
}
img[loading="lazy"] { aspect-ratio: 2 / 1; } 




/*  */

[class*="woocommerce-page"] .column-content {
    justify-content: flex-start;
}

[class*="woocommerce-page"] .column-content .column-content-item {
    padding-top: 0;
}

/*  */

.wc-block-grid__product {}

.wc_bookings_field_persons {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-label);
}

/* calendar */

[class*="ui-datepicker"] a {
    font-size: 18px;
}

.wc-bookings-date-picker {
    padding: 0;
}

.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default {
    color: unset;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active,
.wc-bookings-date-picker .ui-datepicker td a.ui-state-active, 
.wc-bookings-date-picker .ui-datepicker td a.ui-state-active.ui-state-hover {
    color: var(--notblack);
    border: 1px solid var(--notblack);
}
.wc-bookings-date-picker .ui-datepicker td.partial_booked a {
    /* border-color: var(--notblack) !important; */
}
.partial_booked.bookable.ui-datepicker-current-day { }

.partial_booked.bookable-range.selection-start-date.ui-datepicker-current-day .ui-state-active {
    border-color: var(--notblack) !important;
    border: 1px solid var(--notblack) !important;
}

.ui-datepicker-unselectable.ui-state-disabled.not_bookable_by_rules.partial_booked.bookable-range.not_bookable {
    /* border-color: var(--notblack) !important; */
}
.ui-datepicker-unselectable.ui-state-disabled.not_bookable_by_rules.partial_booked.not_bookable .ui-state-default{
    /* border-color: var(--primary) !important; */
}



#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-today a, 
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-today span {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(var(--primary_rgb), 0.7);
}

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td,
.wc-bookings-date-picker .ui-datepicker td .ui-state-default {
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    align-content: space-around;
}
@media screen and (min-width: 440px) {
    #wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td,
    .wc-bookings-date-picker .ui-datepicker td .ui-state-default {
        width: 46px;
        height: 46px;
    }
}


.wc-bookings-date-picker .ui-datepicker td.bookable a,
.wc-bookings-date-picker .ui-datepicker td.bookable a.ui-state-default,
.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default  {
    background-color: var(--primary) !important;
    border-radius: 50%;
}

.bookable {
    /* background-color: yellow !important; */
}

.partial_booked {}

.not_bookable {}
[class*="unselectable"].not_bookable {}


.ui-state-disabled.fully_booked, 
.ui-widget-content .ui-state-disabled.fully_booked, 
.ui-widget-header .ui-state-disabled.fully_booked {
    background-color: var(--tertiary) !important;
}



/* screenreader */

.quantity label.screen-reader-text {
    /* position: relative !important; */
}

/* buttons */

/* wc-block-components-button wp-element-button wc-block-components-checkout-place-order-button contained {} */

body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link) {
    min-height: unset; 
}

/*  */

.wc-block-cart__submit-container {
    background-color: unset ;
}
.wc-block-components-button:not(.is-link) .wc-block-components-button__text {
    text-decoration: none;
}

/* cart */

.white-bg {
    background-color: var(--white);
}

/* item_count */

.menu-link[aria-label="Cart"] {
    position: relative;
    height: 28px;
    width: 28px;
    display: block;
}

.item_count {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-title);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 111;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(50%);
}

/* account page */
/* https://australianagriculturalcentre.org/my-account/ */

.woocommerce-account .storefront-breadcrumb {
    margin: var(--header-height) auto 0;
    padding: 0;
    display: block !important;
    transition: var(--transition);
}
.woocommerce-account .is-scrolled .storefront-breadcrumb {
    margin-top: 70px;
}

nav.woocommerce-breadcrumb {
    position: fixed;
    z-index: 2222;
    font-size: .875em;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 2rem;
    height: unset;
    background: #F7f7f7;
}

.woocommerce nav {
    height: 100%;
    max-height: unset;
}

header[class*="woocommerce"] {
    position: unset;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
}

header[class*="woocommerce"] h2 {
    font-size: var(--font-size-heading-5);
    margin-bottom: 0;
}
.addresses header.title a {
    margin-top: 0;
    margin-left: auto;
    float: unset;
}   

.woocommerce-form-row {
    line-height: normal;
}
.account_display_name_description {
    font-size: var(--font-size-label);
}