@import url('custom.css');

.media-modal * {
    object-fit: contain;
}

html {
    --wp-admin--admin-bar--height: 0;
    scroll-padding-top: var(--wp-admin--admin-bar--height);
    margin-top: var(--wp-admin--admin-bar--height) ;
}

.logged-in.admin-bar header { 
    top: var(--wp-admin--admin-bar--height);
}